* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.boxInput {
    margin-bottom: 20px;
}